
/********home**************/
#home header{
    background-image: url(img/fond.jpeg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

#home #title {
   margin-top: 25%;  
}
#home #title a,.baground{
    background-color: rgba(0,0, 0, 0.3);
}
body{
    margin: 0;
}
#detail{
    background-image: url(img/img7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15%;
}
/****main*****/

main img{
    width: 500px;
    height: 300px;

}



section .inscrire{
    margin-top: 4%;
    margin-bottom: 2%;
}
.inscrire{
    
    background-color: #f4f4f4;
    margin: 0.5%;
    padding: 1%;
    text-align: center;
    
    }
.fa-brands{
    font-size: large;
    
}
/***********************************






/****footer****/
footer{
   /* background-color: #5c525d;*/
    text-align: center;
}
footer img {
    width: 5%;
}
footer p {
    color: white;
}
